* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.absolute-color {
  width: 300px;
  height: 300px;
  display: none;
  border-radius: 500px;
  opacity: 0.5;
  background: var(--Orange, #ff5722);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.hero-buttons a:first-child {
  text-decoration: none;
  display: inline-block;
  color: var(--Light, #eee);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--Primary, #5d50c6);
  background-size: 200% auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero-buttons a:hover:first-child {
  background-image: -webkit-gradient(linear, left top, right top, from(#da22ff), color-stop(51%, #9733ee), to(#da22ff));
  background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.nav-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0px;
  margin-bottom: 64px;
}

.menu {
  width: 48px;
  height: 48px;
  display: none;
}

.menu ul {
  top: 90px;
  width: 50%;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
}

.menu ul li {
  width: 50%;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu ul li:hover {
  background-color: black;
}

.menu ul li:hover a {
  color: white;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 64px;
}

.navigation .nav ul li a {
  text-decoration: none;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  /* Button */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.navigation .nav ul li a:hover {
  color: var(--Dark, #222831);
  border-color: #222831;
  /* Button */
}

.nav-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-buttons a:first-child {
  text-decoration: none;
  color: var(--Dark, #222831);
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}

.nav-buttons a:first-child:hover {
  color: red;
  border-color: red;
}

.nav-buttons a:last-child {
  text-decoration: none;
  display: inline-block;
  color: var(--Light, #eee);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--Primary, #5d50c6);
  background-size: 200% auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-buttons a:last-child:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#da22ff), color-stop(51%, #9733ee), to(#da22ff));
  background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .nav-container {
    max-width: 896px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .absolute-color {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu ul {
    display: none;
  }
  .menu:hover ul {
    display: block;
    gap: 40px;
    width: 50%;
  }
  .menu:hover ul li {
    list-style: none;
  }
  .menu ul {
    display: none;
    position: absolute;
    top: 80px;
    gap: 10px;
    width: 50%;
    left: 0;
  }
  .menu ul li {
    width: 100%;
    background-color: red;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .nav-container {
    max-width: 398px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
  .absolute-color {
    display: none;
  }
  .nav-buttons {
    display: none;
  }
  .menu ul {
    display: none;
    position: absolute;
    top: 80px;
    gap: 10px;
    width: 110%;
    left: 0;
  }
  .menu ul li {
    background-color: red;
    padding: 10px 0px;
  }
}

.hero-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 43px;
}

.hero-texts .button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 100px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0);
  margin-top: 68px;
  border: none;
  width: 224px;
  color: var(--Secondary, #f85e9f);
  /* Button */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px double transparent;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.hero-texts .button:hover {
  border-color: #f85e9f;
}

.hero-texts h1 {
  color: #000;
  font-size: 69px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 82.8px */
}

.hero-texts h1 span {
  color: var(--Secondary, #f85e9f);
}

.hero-texts p {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.hero-buttons a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 16px 32px;
  color: var(--Dark, #222831);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 16.8px */
  border-radius: 100px;
  border: 1px solid var(--Light, #eee);
  background: var(--white, #fff);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-size: 200% auto;
}

.hero-buttons a:last-child:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#5c258d), color-stop(51%, #4389a2), to(#5c258d));
  background-image: linear-gradient(to right, #5c258d 0%, #4389a2 51%, #5c258d 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .hero-container {
    max-width: 896px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-img img {
    display: none;
  }
  .hero-img {
    width: 772px;
    height: 713px;
    background-image: url("../images/hero-img-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-texts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-texts h1 {
    width: 85%;
    text-align: center;
  }
  .hero-texts p {
    width: 55%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    max-width: 398px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-texts {
    width: 100%;
  }
  .hero-texts h1 {
    width: 100%;
  }
  .hero-texts p {
    width: 100%;
  }
  .hero-img {
    width: 396px;
    height: 366px;
  }
  .hero-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .hero-buttons a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.companies-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.companies {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .companies-container {
    max-width: 896px;
  }
  .companies {
    line-height: 4;
    padding: 64px 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .companies-container {
    max-width: 398px;
  }
  .companies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.services {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0px;
  gap: 21px;
}

.services-texts h3 {
  padding-top: 70px;
  color: var(--Secondary, #f85e9f);
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services-texts p {
  color: var(--grey-scale-black, #191825);
  /* H3 */
  font-family: Circular;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 52.8px */
}

.services-card {
  padding: 64px;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.services-card:hover {
  border-radius: 32px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 41px 89px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.services-card img {
  margin-left: auto;
  margin-bottom: 64px;
  margin-right: auto;
}

.services-card h3 {
  color: var(--grey-scale-black, #191825);
  text-align: center;
  /* H5 */
  font-family: Circular;
  font-size: 28px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 33.6px */
}

.services-card p {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  text-align: center;
  /* Body */
  font-family: Inter;
  font-size: 18px;
  width: 12.33em;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}

.services-display {
  display: none;
}

@media screen and (max-width: 992px) {
  .services {
    gap: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-cards {
    gap: 16px;
  }
  .services-display {
    display: block;
  }
  .services-display img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .services-container {
    max-width: 896px;
  }
  .services-texts h3 {
    text-align: center;
  }
  .services-card {
    padding: 40px;
  }
  .services-card h3 {
    width: 5.71em;
  }
  .services-card p {
    width: 8.88em;
  }
}

@media screen and (max-width: 768px) {
  .services-container {
    max-width: 398px;
  }
  .services-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .services-texts p {
    text-align: center;
  }
  .services-display {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-card {
    padding: 32px;
    gap: 32px;
  }
  .services-card h3 {
    margin: 0;
    width: 100%;
  }
  .services-card img {
    margin: 0;
  }
  .services-card p {
    margin: 0;
    width: 100%;
  }
}

.the-next-one-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.the-next-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.the-next-one .texts {
  gap: 16px;
}

.the-next-one .texts h4 {
  color: var(--Secondary, #f85e9f);
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.the-next-one .texts p {
  color: var(--grey-scale-black, #191825);
  /* H3 */
  font-family: Circular;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 52.8px */
}

.the-next-one .the-next-one-img img {
  width: 232px;
  margin-top: 80px;
}

@media screen and (max-width: 992px) {
  .the-next-one-container {
    max-width: 896px;
  }
  .the-next-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 64px;
  }
  .the-next-one .texts h4 {
    text-align: center;
  }
  .the-next-one .texts p {
    text-align: center;
  }
  .the-next-one-img img {
    margin-top: 0;
  }
}

.three-part-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.three-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three-part .card {
  width: 373px;
  border-radius: 32px 32px 32px 32px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.three-part .texts-card {
  padding: 32px;
}

.three-part .texts-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.three-part .texts-justify p:first-child {
  color: var(--grey-scale-black, #191825);
  /* H6 */
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
}

.three-part .texts-justify p:last-child {
  width: 81px;
  color: var(--Secondary, #f85e9f);
  /* H6 */
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
}

.three-part .rome {
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  /* Body */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 160%;
  /* 28.8px */
}

.three-part .star {
  color: var(--Orange, #ff5722);
  /* H6 */
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
}

@media screen and (max-width: 992px) {
  .three-part-container {
    max-width: 896px;
  }
  .three-part .card {
    width: 278px;
    gap: 31px;
  }
  .three-part .card img {
    width: 278px;
  }
  .three-part .texts-justify {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .three-part-container {
    max-width: 389px;
  }
  .three-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .three-part .card {
    width: 396px;
  }
  .three-part .card img {
    width: 398px;
  }
}

.travel-point-container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.travel-point {
  margin-top: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel-point img {
  width: 871px;
}

.travel-point-texts {
  width: 441px;
}

.travel-point-texts h4 {
  padding-top: 25px;
  color: var(--Secondary, #f85e9f);
  font-family: Circular;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.travel-point-texts .subtitle {
  color: var(--grey-scale-black, #191825);
  /* H3 */
  font-family: Circular Std;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 52.8px */
  margin-bottom: 32px;
}

.travel-point-texts .description {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  /* Body */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blocks .block {
  border-radius: 32px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
  background: var(--white, #fff);
  padding: 32px;
}

.blocks .block h3 {
  color: var(--Orange, #ff5722);
  /* H4 */
  font-family: Circular;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 120%;
  /* 42px */
}

.blocks .block h3 p {
  color: var(--grey-scale-black, #191825);
  /* Body */
  font-family: Inter;
  margin-top: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

@media screen and (max-width: 992px) {
  .travel-point-container {
    max-width: 896px;
  }
  .travel-point {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 32px;
  }
  .travel-point img {
    width: 398px;
  }
  .travel-point-texts {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .travel-point-texts h4 {
    width: 100%;
    text-align: center;
  }
  .travel-point-texts .subtitle {
    text-align: center;
  }
  .travel-point-texts .description {
    text-align: center;
  }
  .travel-point-texts .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .travel-point-texts .blocks .block {
    margin-left: auto;
    margin-right: auto;
    width: 398px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .travel-point-container {
    max-width: 398px;
  }
  .blocks {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocks .block {
    width: 398px;
  }
}
/*# sourceMappingURL=main.css.map */